{% comment %}
Reference: https://help.apple.com/itc/podcasts_connect/#/itcb54353390
{% endcomment %}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ channel.title }}</title>
    <link>{{ channel.link }}</link>
    <language>{{ channel.language }}</language>
    <copyright>{{ channel.copyright }}</copyright>
    <description>{{ channel.description }}</description>
    <itunes:image href="{{ channel.itunes.image }}" />
    <itunes:category text="{{ channel.itunes.category }}">
      <itunes:category text="{{ channel.itunes.subcategory }}"/>
    </itunes:category>
    <itunes:explicit>{{ channel.itunes.explicit }}</itunes:explicit>
    <itunes:author>{{ channel.itunes.author }}</itunes:author>
    <itunes:title>{{ channel.itunes.title }}</itunes:title>
    <itunes:type>{{ channel.itunes.type }}</itunes:type>
{% for episode in collections.podcast %}
    <item>
      <itunes:episodeType>{{ episode.data.itunes.episodeType }}</itunes:episodeType>
      <itunes:title>{{ episode.data.itunes.title }}</itunes:title>
      <description>{{ episode.data.description }}</description>
      <enclosure 
        length="{{ episode.data.enclosure.length }}" 
        type="audio/mpeg" 
        url="{{ episode.data.enclosure.url }}"
      />
      <guid>{{ episode.data.guid }}2</guid>
      <pubDate>{{ episode.data.pubDate }}</pubDate>
      <itunes:duration>{{ episode.data.itunes.duration }}</itunes:duration>
      <itunes:explicit>{{ episode.data.itunes.explicit }}</itunes:explicit>
      <itunes:title>{{ episode.data.itunes.title }}</itunes:title>
      <itunes:episode>{{ episode.data.itunes.episode }}</itunes:episode>
      <itunes:season>{{ episode.data.itunes.season }}</itunes:season>
      <itunes:episodeType>{{ episode.data.itunes.episodeType }}</itunes:episodeType>
    </item>
{% endfor %}
  </channel>
</rss>
