{%- comment -%}
Reference: https://help.apple.com/itc/podcasts_connect/#/itcb54353390
And:       https://github.com/Podcast-Standards-Project/PSP-1-Podcast-RSS-Specification
{%- endcomment -%}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:podcast="https://podcastindex.org/namespace/1.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="{{ "https://" | append: site.domain | append: page.url }}" rel="self" type="application/rss+xml" />
    <title>{{ channel.title }}</title>
    <link>{{ channel.link }}</link>
    <language>{{ channel.language }}</language>
    <copyright>{{ channel.copyright }}</copyright>
    <description>{{ channel.description }}</description>
    <podcast:locked>{{ channel.podcast.locked }}</podcast:locked>
    <podcast:guid>{{ channel.podcast.guid }}</podcast:guid>
    <itunes:image href="{{ channel.itunes.image }}" />
{%- for category in channel.itunes.categories %}
    <itunes:category text="{{ category.category }}">
      <itunes:category text="{{ category.subcategory }}"/>
    </itunes:category>
{%- endfor %}
    <itunes:explicit>{{ channel.itunes.explicit }}</itunes:explicit>
    <itunes:author>{{ channel.itunes.author }}</itunes:author>
    <itunes:owner>
      <itunes:email>{{ channel.itunes.email }}</itunes:email>
    </itunes:owner>
    <itunes:title>{{ channel.itunes.title }}</itunes:title>
    <itunes:type>{{ channel.itunes.type }}</itunes:type>
{%- for episode in collections.podcast %}
{%- if episode.data.publishToRSSFeed %}
    <item>
      <title>{{ episode.data.title }}</title>
      <itunes:title>{{ episode.data.itunes.title }}</itunes:title>
      <description>{{ episode.data.description }}</description>
      <enclosure 
        length="{{ episode.data.enclosure.length }}" 
        type="audio/mpeg" 
        url="{{ episode.data.enclosure.url }}"
      />
      <guid isPermalink="false">{{ episode.data.guid }}</guid>
      <pubDate>{{ episode.data.pubDate }}</pubDate>
      <link>{{ "https://" | append: site.domain | append: episode.data.page.url }}</link>
      <itunes:duration>{{ episode.data.itunes.duration }}</itunes:duration>
      <itunes:explicit>{{ episode.data.itunes.explicit }}</itunes:explicit>
      <itunes:title>{{ episode.data.itunes.title }}</itunes:title>
      <itunes:episode>{{ episode.data.itunes.episode }}</itunes:episode>
      <itunes:season>{{ episode.data.itunes.season }}</itunes:season>
      <itunes:episodeType>{{ episode.data.itunes.episodeType }}</itunes:episodeType>
      <itunes:image href="{%- if episode.data.itunes.image  -%}
      {{ "https://" | append: site.domain | append: episode.data.itunes.image }}
      {%- else -%}
      {{ channel.itunes.image }}
      {%- endif -%}" />
    </item>
{%- endif %}
{%- endfor %}
  </channel>
</rss>