---
layout: layouts/base
---

<section class="[ cover artwork__preview flow-space-m ]">
  <div class="artwork__preview-layout" data-target>
    <div class="frame" data-fit-content data-ratio="{{ ratio }}" {%- if landscape %}data-landscape{%- endif %}>
      <img src="{{ image }}" alt="Artwork preview image" />
    </div>
    <div>
      <div class="[ box ] [ flow flow-space-m padding-s measure-mini leading-tight ] [ border-thin border-style-solid radius ]" data-fit-content>
        <p><em>{{ title }}</em></p>
        {%- if description %}
        <p>{{ description }}</p>
        {%- endif %}
        <p>{{ size.width }} x {{ size.height }}, {{ medium }}</p>
      </div>
    </div>
  </div>
</section>
