<!DOCTYPE html>
<html lang="en" data-theme="{{ page.url | getPageTheme: site.nav }}">
    <head>
        {% capture pageTitle %}{{ title }} • {{ site.siteName }}{% endcapture %}
        <title>{{ pageTitle }}</title>
        {% render "partials/site-meta" meta: meta, site: site, eleventy: eleventy, page: page %}
        {% render "partials/site-opengraph" ogData: ogData, page: page, pageTitle: pageTitle, summary: summary, site: site %}
        {% render "partials/site-schema" site: site, page: page, layout: layout, schemaType: schemaType, title: title, date: date, version_date: version_date, summary: summary, meta: meta, image: image, medium: medium, size: size, description: description, price: price, available: available %}
        {% render "partials/site-includes" site: site %}
    </head>
    <body>
        <div class="[ site-wrap ] [ flow flow-space-xl ]">
            {%unless hide_header %}
                {% render "partials/site-header"
                    site: site,
                    page: page
                    %}
            {%endunless %}
            <main tabindex="-1" id="main-content">
                <div class="[ wrapper ]">
                    {{ content }}
                </div>
            </main>
            {%unless hide_footer %}
                {% render "partials/site-footer"
                    helpers: helpers,
                    site: site,
                    page: page,
                    company_info: company_info %}
            {%endunless %}
        </div>
    </body>
</html>
