---
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
  <title>{{ feedTitle }}</title>
  <subtitle>{{ feedSubtitle }}</subtitle>
  {%- capture baseUrl -%}{{ "https://" | append: site.domain }}{%- endcapture %}
  <link href="{{ baseUrl | append: permalink }}" rel="self" />
  <link href="{{ baseUrl | append: '/writing/' | append: tagFeedData | append: '/' }}" />
  <updated>{{ tagCollection | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ baseUrl | append: "/writing/" | append: tagFeedData | append: "/" }}</id>
  <author>
    <name>{{ site.authorName }}</name>
    {%- if site.authorEmail %}
    <email>{{ site.authorEmail }}</email>
    {%- endif %}
  </author>
  {%- assign sorted_collection = tagCollection | sort: "date" | reverse %}
  {%- for post in sorted_collection %}
  {%- capture absolutePostUrl -%}{{ baseUrl | append: post.permalink }}{%- endcapture %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.content | renderContent: "liquid" | markdownToHTML | transformWithHtmlBase: baseUrl | escapeHTML }}</content>
  </entry>
  {%- endfor %}
</feed>
