---
permalink: /writing.atom
eleventyExcludeFromCollections: true
metadata:
  language: en
eleventyComputed:
  metadata:
    title: "{{ site.rss.title }}"
    subtitle: "{{ site.rss.subtitle }}"
    base: "{{ site.domain }}"
    author:
      name: "{{ site.authorName }}"
      email: "{{ site.authorEmail }}"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  {%- capture baseUrl -%}{{ "https://" | append: metadata.base }}{%- endcapture %}
  <link href="{{ baseUrl | append: permalink }}" rel="self" />
  <link href="{{ baseUrl  | append: '/' }}" />
  <updated>{{ collection | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ baseUrl | append: "/" }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    {%- if metadata.author.email %}
    <email>{{ metadata.author.email }}</email>
    {%- endif %}
  </author>
  {%- assign sorted_collection = collection | sort: "date" | reverse %}
  {%- for post in sorted_collection %}
  {%- capture absolutePostUrl -%}{{ baseUrl | append: post.permalink }}{%- endcapture %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.content | markdownToHTML | escapeHTML }}</content>
  </entry>
  {%- endfor %}
</feed>