<div class="box">
  <div class="flow flow-space-s">
    <div class="[ artwork__preview ]">
      <div class="[ box ] [ padding-none ]">
        <div class="frame" data-ratio="{{ artwork.data.ratio }}" {%- if artwork.data.landscape %}data-landscape{%- endif %}>
          <img src="{{ artwork.data.image }}" alt="Artwork preview image" />
        </div>
      </div>
    </div>
    <div class="flow flow-space-2xs">
      <p><em>{{ artwork.data.title }}</em></p>
      {%- if artwork.data.description %}
      <p>{{ artwork.data.description }}</p>
      {%- endif %}
      <p>{{artwork.data.size.width}} x {{artwork.data.size.height}}, {{artwork.data.medium}}</p>
      {%- if artwork.data.price %}
        {%- if artwork.data.available %}
      <p>{{artwork.data.price}}</p>
        {%- else %}
      <p>Sold</p>
        {%- endif %}
      {%- else %}
      <p>Not for sale</p>
      {%- endif %}
    </div>
  </div>
</div>