<div class="[ hero ] [ flow flow-space-xl ]">
  {% if hero %}
    {% assign header = hero.header %}
    {% assign byline = hero.byline %}
  {% endif %}

  {% if byline %}
    {% capture byline_html %}<p><em>{{ byline | markdownify }}</em></p>{% endcapture %}
  {% endif %}
  {% if type == "episode" %}
    {%- capture subscribe_html -%}
    <div class="cluster flow-space-s">
      <p><em>Subscribe:</em></p>
      {% for link in site.podcastURL.remotes %}
        <a href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </div>
    {%- endcapture -%}
  {% endif %}
  
  <h1 class="hero__header"><mark>{{ header }}</mark></h1>
  {% if flourish %}
    <p class="hero__flourish">{{ flourish }}</p>
  {% endif %}
  {% if byline and type == "episode" %}
  <div>
    <div class="stack flow-space-2xs">
      {{ byline_html }}
      {{ subscribe_html }}
    </div>
  </div>
  {% elsif byline or type == "episode" %}
    {% if byline %}
      {{ byline_html }}
    {% else %}
      {{ subscribe_html }}
    {% endif %}
  {% endif %}
</div>