<footer role="contentinfo" class="[ site-footer ] [ wrapper ]">
    <div class="[ site-footer__content ] [ flow flow-space-l measure-reset ]">
        <nav class="[ nav ] [ text-0 weight-extra-bold flow-space-xs ]">
            <ul class="[ cluster ] [ font-sans ]">
                {% for item in site.nav %}
                    {% unless item.hidden or not item.footer %}
                        <li>
                            <a
                                href="{{ item.url }}"
                                {{ item.url }}
                                >
                                {{ item.title }}
                            </a>
                        </li>
                    {% endunless %}
                {% endfor %}
            </ul>
        </nav>
        {%if company_info %}
            <div class="flow">
                <p>Services are provided via Thoughtful Design (&numero;15642102), a limited company registered in England and Wales with VAT number GB465435281.</p>
                <address class="flow-space-2xs">Thoughtful Design Ltd, 82A James Carter Road, Mildenhall, England, IP28 7DE</address>
            </div>
        {%endif %}
        <div class="cluster" data-state="repel">
            <p>Copyright &copy; {{ helpers.currentYear }} {{ site.authorName }}</p>
            <p>Powered by <a href="https://www.11ty.dev/">Eleventy</a>, source code on <a href="https://github.com/alexmensch/alxm.me">Github</a>.</p>
        </div>
    </div>
</footer>
